body {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 350px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    border-style: double;
    box-shadow: rgba(28, 147, 58, 0.6) 0px 0px 0px 3px, rgba(28, 147, 58, 0.5)0px 0px 0px 6px, rgba(28, 147, 58, 0.4) 0px 0px 0px 9px, rgba(28, 147, 58, 0.3) 0px 0px 0px 12px, rgba(28, 147, 58, 0.25) 0px 0px 0px 15px;
}


.buttons{
    display: flex;
    flex-wrap: wrap;
}

.button {
    width: 75px;
    height: 50px;
    font-size: large;
    border-style: thin;
    border-width:0.01mm;
    color: aliceblue;
    background-color: rgba(119, 159, 15, 0.972);
}

#display {
   align-self: flex-end;
   text-align: right;
   width: 375px;
   margin: auto 15px 0px 15px;
   font-size:xx-large;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.footer {
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
